.logo {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  margin: 0px;
  width: 300px;
  height: 70px;
}

nav {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: left;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 40px;
  font-size: 20px;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

nav ul li::after {
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.25s;
}

nav ul li:hover::after {
  width: 100%;
}

p {
  text-align: center;
  font-size: x-large;
}

body {
  font-size: 14px;
}

.formContainer {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: auto;
  padding: 20px 40px;
  box-shadow: 0 0 15px #efefef;
  border-radius: 15px;
}

.formContainer form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.formContainer form .col50 {
  width: 50%;
}

.formContainer form .col100 {
  width: 100%
}

.inputBx {
  position: relative;
  margin: 0 0 30px 0
}

.inputBx input,
.inputBx textarea {
  width: 100%;
  padding: 10px;
  padding-left: 2px;
  outline: none;
  border: none;
  border-bottom: 2px solid #3a0ca3
}

.inputBx textarea {
  min-height: 70px;
  resize: none;
}

.inputBx button {
  width: auto;
  padding: 10px 30px;
  border: 1px solid #3a0ca3;
  font-weight: 800;
  background-color: #3a0ca3;
  color: #fff;
  border-radius: 25px;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 10px;
}

.inputBx button:hover {
  background-color: #fff;
  color: #3a0ca3
}

.inputBx span {
  position: absolute;
  left: 0;
  bottom: 5px;
  transition: 0.5s;
  pointer-events: none;
  color: #666;
}

form .inputBx input:focus~span,
form .inputBx input:valid~span {
  transform: translateY(-25px);
  font-size: 12px;
  color: #3a0ca3
}

form .inputBx textarea:focus~span,
form .inputBx textarea:valid~span {
  transform: translateY(-80px);
  font-size: 12px;
  color: #3a0ca3
}

h2 {
  margin-bottom: 30px;
  margin-top: 20px;
  color: #3a0ca3;
}

h1 {
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  font-size: 60px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}